<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options='{"minWidth": 991, "containerSelector": ".container", "padding": {"top": 30}}'>
    <div class="nomepaese">
        <%= yield :name %>
    </div>
    <%= image_tag("Hungary.png", class: 'country-img')%>
        <div class="titolo">
            <a data-hash data-hash-offset="30" href="#overview" style="color: #fff; text-decoration:none;">Overview</a>
        </div>
        <ul class="nav nav-list mb-xl show-bg-active">
            <li>
                <div id="subli" style="padding-top:10px;">
                    <a data-hash data-hash-offset="30" href="#archival">Archival sources</a>
                </div>
            </li>
        </ul>
        <div class="titolobn">
            <%= link_to("Elite Groups", country_elites_path(@country)) %>
        </div>
        <ul class="nav nav-list mb-xl show-bg-active2">
            <%= yield :elite_groups %>
        </ul>
</aside>
</div>