<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
</header>
<section class="page-header">
    <div role="main" class="main">
        <div class="hidden-xs hidden-sm container">
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag('dep.svg', class: 'dep-img') %>
                </div>
                <div class="col-md-6 text-align-right" style="font-size:10px; line-height:14px; vertical-align:middle;">
                    <%= image_tag('erc.svg', class: 'erc-img') %>
                        This project has received funding from the European Research Council under the European Union’s Horizon 2020 research and
                        innovation programme
                        <br/> (Grant Agreement n. 669194)
                </div>
            </div>
        </div>
    </div>
</section>