<h1>Paneur#map</h1>
<p>Find me in app/views/paneur/map.html.erb</p>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-bottom  botmenutrasparente">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
		 <li class="botmenu"><a href="about.html">ABOUT THIS MAP</a></li></ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li class="botmenu"><a href="index.html">Main map</a></li>
      <li class="dropdown botmenu">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Countries
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <li class="botsubmenu"><a href="country.html">Bulgaria</a></li>
          <li class="botsubmenu"><a href="country.html">Czechoslovakia</a></li>
          <li class="botsubmenu"><a href="country.html">Germany</a></li>
          <li class="botsubmenu"><a href="country.html">Hungary</a></li>
          <li class="botsubmenu"><a href="country.html">Yugoslavia</a></li>
          <li class="botsubmenu"><a href="country.html">Poland</a></li>
          <li class="botsubmenu"><a href="country.html">Romania</a></li>
        </ul>
      </li>
      <li class="botmenu"><a href="comecon.html">Comecon</a></li>
      <li class="botmenu"><a href="https://paneur1970s.eui.eu/">PanEur1970s website</a></li>
    </ul>
	  </div>
  </div>
</nav>
<!-- End of Navigation-->

