// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dep-img {
    float: left;
    height: 70px;
}

.erc-img { 
    margin-left: 10px;
    height: 70px;
    float: right;
}
