// Place all the styles related to the paneur controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dep-image {
    // align: left;
    height: 70px;
}

.erc-image {
    // align: right; 
    margin-left: 10px;
    height: 70px;
}